<?xml version="1.0"?>
<connectionStrings>
    <add name="LindyCircleContext" connectionString="metadata=res://*/LindyCircleModel.csdl|res://*/LindyCircleModel.ssdl|res://*/LindyCircleModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=184.168.194.68;initial catalog=SyneticContracts;persist security info=True;user id=dbsa;password=,M,S-.Bc3?T4jc2I86QU;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>